<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="ζyperは最強のタイパーを集めるために作られました">
    <meta name="keywords" content="ζyper, ログイン, 認証, portal">
    <meta name="author" content="ζyper Team">
    <meta property="og:title" content="ζyper ログイン">
    <meta property="og:description" content="ζyper にログインしてサービスをご利用ください。">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#222222">
    <title>ζyper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
<div class="login">
    <h2>ζyperにログイン</h2>
    <form method="post" action="/login">
        <input type="text" name="username" placeholder="ユーザー名"><br>
        <input type="password" name="password" placeholder="パスワード"><br>
        <p id="error">ユーザー名またはパスワードが正しくありません</p>
        <button type="submit">ログイン</button>
    </form>
</div>

<footer class="footer">
    <p>© 2025 ζyper All rights reserved.</p>
</footer>

<script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
